<footer>
    <div class="content footer-content">
        <a href="#" class="logo">
            <h3>ООО "КК "Капиталъ"</h3>
            <p>
                Dura lex, sed lex. Закон суров, но он Закон
            </p>
        </a>
        <div class="phone">
            8 (495) 142-47-57
            <p>ул. Автозаводская д.2, пом. 2</p>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
</body>
</html>