<header>
    <div class="content">
        <div class="header-content">
            <div class="header-left">
                <a href="#" class="logo">
                    <h3>ООО "КК "Капиталъ"</h3>
                    <p>
                        Dura lex, sed lex. Закон суров, но он Закон
                    </p>
                </a>
                <div class="legal-help">
                    <h4>
                        Независимая оценка
                    </h4>
                    <span>
                        в Москве и области
                    </span>
                    <ul>
                        <li>Отчёт за 1-3 дней</li>
                        <li>Все оценщики состоят в СРО, их отчёты застрахованы</li>
                        <li>Полностью прозрачные цены на услуги</li>
                    </ul>
                </div>
            </div>
            <div class="header-right" id="header-right">
                <div class="phone">
                    8 (495) 142-47-57
                </div>
                <div class="header-form">
                    <p>
                        Оставьте своё имя и номер телефона и юрист свяжется с Вами, чтобы дать Вам бесплатную консультацию
                    </p>
                    <form action="" id="consulting-form" method="post">

                        <!-- Hidden Required Fields -->
                        <input type="hidden" name="project_name" value="ООО КК Капиталъ">
                        <input type="hidden" name="admin_email" value="consalt-capital@yandex.ru"><!--admin email-->
                        <input type="hidden" name="form_subject" value="Форма 1">
                        <!-- END Hidden Required Fields -->

                        <div class="message-group">
                            <label for="message" class="label-message"></label>
                            <textarea name="message" cols="30" rows="10" placeholder="Ваш вопрос" id="message"></textarea>
                            <span class="separate-line"></span>
                        </div>
                        <div class="input-group">
                            <label for="tel" class="label-tel"></label>
                            <input type="tel" id="tel" placeholder="Ваш телефон">
                            <span class="separate-line"></span>
                        </div>
                        <button class="call-me" type="submit">Получить консультацию</button>
                    </form>
                </div>
                <span class="separate-img"></span>
            </div>
            <div class="black-screen"></div>
            <div id="mobile-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>