@font-face {
  font-family:"Oswald bold";
  src: url("../fonts/cambriab.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"Oswald extralight";
  src: url("../fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"Oswald light";
  src: url("../fonts/Oswald-Light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"Oswald medium";
  src: url("../fonts/cambriab.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"Oswald regular";
  src: url("../fonts/cambriab.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"Oswald semibold";
  src: url("../fonts/cambriab.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto condensed regular";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"PT Sans regular";
  src: url("../fonts/PTSansRegular.ttf") format("truetype");
  src: url("../fonts/PTSansRegular.eot") format('truetype');
  src: url("../fonts/PTSansRegular.woff") format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"PT Sans bold";
  src: url("../fonts/PTSansBold.ttf") format("truetype");
  src: url("../fonts/PTSansBold.eot") format('truetype');
  src: url("../fonts/PTSansBold.woff") format('truetype');
  font-weight:normal;
  font-style:normal;
}