//= template/head.html
//= template/header.html

<main>
    <section class="your-question">
        <div class="content">
            <div class="question-content container">
                <div class="section-title">
                    <h3>Какой вид оценки Вас интересует?</h3>
                    <div class="border"><span></span><span></span><span></span></div>
                </div>
                <div class="all-question all-question_physical">
                    <div class="all-question__block">
                        <div class="some-question">
                            <span class="question-icon phys-1"></span>
                            <span class="question-description">
                               Оценка интеллектуальной собственности
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon phys-2"></span>
                            <span class="question-description">
                               Оценка ущерба
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon phys-3"></span>
                            <span class="question-description">
                               Оценка земельного участка
                            </span>
                        </div>

                        <div class="some-question">
                            <span class="question-icon phys-4"></span>
                            <span class="question-description">
                               Оценка кадастровой стоимости
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon phys-5"></span>
                            <span class="question-description">
                               Оценка транспорта
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon phys-6"></span>
                            <span class="question-description">
                               Оценка недвижимости
                            </span>
                        </div>

                        <div class="some-question">
                            <span class="question-icon phys-7"></span>
                            <span class="question-description">
                               Оценка для банка
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon phys-8"></span>
                            <span class="question-description">
                               Оценка оборудования
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon phys-9"></span>
                            <span class="question-description">
                               Оценка для бизнеса
                            </span>
                        </div>
                    </div>
                    <div class="all-question__find">
                        Вы нашли то, что искали!
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="law">
        <div class="content">
            <div class="law-content container">
                <div class="law-top">
                    <div class="law-top__title">
                        Вам не нужно ломать голову
                        над тем, что делать и как
                    </div>
                    <div class="law-top__description">
                        <p>
                            Наши оценщики потратили годы для того
                            чтобы ни один Ваш вопрос не остался без ответа.
                        </p>
                        <p>
                            Наши отчёты гарантированно будут приняты в любой инстанции.
                        </p>
                        <p>
                            Мы ценим Ваше время и деньги.
                        </p>
                    </div>
                </div>
                <div class="law-bottom">
                    <span>Строжайшее соблюдение сроков</span>
                    <span>Полная конфиденциальность данных</span>
                    <span>Общение на доступном языке</span>
                    <span>Гарантия качества оценки</span>
                </div>
                <div class="vesu"></div>
            </div>
        </div>
    </section>

    <section class="callback">
        <div class="content">
            <div class="callback-content container">
                <div class="callback-title">
                    Не теряйте время. Задайте Ваш вопрос сейчас
                </div>
                <div class="callback-description">
                    Оставьте заявку и оценщик перезвонит, чтобы ответить на неё. Это бесплатно
                </div>
                <form class="callback-form" method="post">

                    <!-- Hidden Required Fields -->
                    <input type="hidden" name="project_name" value="ООО КК Капиталъ">
                    <input type="hidden" name="admin_email" value="consalt-capital@yandex.ru"><!--admin email-->
                    <input type="hidden" name="form_subject" value="ФОРМА 2">
                    <!-- END Hidden Required Fields -->

                    <div class="input-group">
                        <input type="text" placeholder="Ваше имя">

                        <input type="tel" placeholder="Ваш телефон">
                    </div>
                    <button class="call-me" type="submit">Оставить заявку</button>
                </form>
            </div>
        </div>
    </section>

    <section class="step">
        <div class="content">
            <div class="step-content container">
                <div class="section-title">
                    <h3>Как производится оценка?</h3>
                    <div class="border"><span></span><span></span><span></span></div>
                </div>
                <div class="all-steps">
                    <div class="all-steps__block">
                        <p class="step-icon step-one"></p>
                        <p class="step-description">Обращение</p>
                    </div>
                    <div class="all-steps__block">
                        <p class="step-icon step-two"></p>
                        <p class="step-description">Личная встреча в офисе</p>
                    </div>
                    <div class="all-steps__block">
                        <p class="step-icon step-three"></p>
                        <p class="step-description">Заключение договора</p>
                    </div>
                    <div class="all-steps__block">
                        <p class="step-icon step-four"></p>
                        <p class="step-description">Выезд оценщика (если необходимо)</p>
                    </div>
                    <div class="all-steps__block">
                        <p class="step-icon step-five"></p>
                        <p class="step-description">Составление отчета</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="low">
        <div class="content">
            <div class="low-content container">
                <div class="section-title">
                    <h3>Если Вы считаете, что стоимость Вашего имущества занижают</h3>
                    <div class="border"><span></span><span></span><span></span></div>
                </div>
                <div class="what-todo">
                    <ul>
                        <li><span>Позвоните нам или оставьте заявку</span></li>
                        <li><span>Опишите Вашу ситуацию</span></li>
                        <li>
                            <span>
                                Вы получите совет квалифицированного оценщика
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>


//= template/footer.html


